body {
  margin: 0;
}
/*Basic Homepage styling*/
#home {
  background-image: url(Images/homePage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

/*Basic location page styling*/
#location {
  background-image: url(Images/pages.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

/*Basic rooms page styling*/
#rooms {
  background-image: url(Images/pages.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

/*Basic info page styling*/
#info {
  background-image: url(Images/infoPage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

/*Basic navigation box container styling*/
#navBox {
  height: 60%;
  width: 20%;
  min-width: 270px;
  max-width: 270px;
  background-color: #81c7d4;
  position: absolute;
  top: 15%;
  right: 8%;
  border: solid;
  border-color: #c1ff72;
  border-radius: 20px;
  box-shadow: 5px 10px #7f9194;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

/*Basic individual navigation boxes styling*/
.navigation {
  text-align: center;
  border: solid 2px;
  border-radius: 5px;
  padding: 20px;
  text-decoration: none;
  color: #000;
}

/*Navigation text hover*/
.navigation:hover {
  transform: scale(1.2);
  transition: 0.5s;
  color: #c1ff72;
  background-color: #0097b2;
}

/*Line under heading*/
.line {
  border-top: 3px solid black;
  min-width: 270px;
  position: absolute;
  left: 30%;
  right: 30%;
}

/*Heading Style*/
h1 {
  margin: 0;
  text-align: center;
  padding-top: 20px;
  transform: translateY(10px);
  opacity: 0;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  transition-delay: 0.3s;
}

/*Heading Animation*/
.animated {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  transition-delay: 0.3s;
}

.carouselContainer {
  display: flex;
  height: 60%;
  margin: 50px;
}
