body {
  margin: 0;
}

#home {
  background-image: url(Images/homePage.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#location {
  background-image: url(Images/pages.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#rooms {
  background-image: url(Images/pages.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#info {
  background-image: url(Images/infoPage.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
